<%= form_with(model: user, class: "form") do |form| %>
    
  <p class="form-title">Register</p>
  <% if user.errors.any? %>
    <div class="error-messages">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-container">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username, :required => true %>
  </div>

  <div class="input-container">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, :required=> true%>
  </div>
  <div class="input-container">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, :required=> true %>
  </div>
  <div class="input-container">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, :required=> true %>
  </div>
    <%= form.submit "Sing up", class: "submit" %>
    <p class="text-center">
      <%= link_to "Login", login_path, class: "link" %>
    <p>
<% end %>
